<h1>{{_user.userName}}</h1>

<span *ngIf="_editMode; else readMode">
	<input type="text" [(ngModel)]="editBuffer">
	<button (click)="saveBio()">Save</button>
	<button (click)="cancelEdit()">Cancel</button>
</span>

<span *ngIf="_admin">
        <app-ban-button *ngIf="_user.userState >= 0" [user]="_user"></app-ban-button>
        <app-unban-button *ngIf="_user.userState == -2" [user]="_user"></app-unban-button>
        <a [routerLink]="['/user/audit', _user.userID]">Audit</a>
</span>

<ng-template #readMode>
        <span *ngIf="_canEdit">
                <button (click)="editBio()">Edit</button>
        </span>
        <div>
                <p>{{_user.bio}}</p>
        </div>
</ng-template>

