<table>
  <tr>
    <th>ID#</th>
    <th>Username</th>
    <th>Status</th>
    <th>Role</th>
    <th>Actions</th>
  </tr>
  @for (user of users; track user; let i = $index) {
    <tr>
      <td>{{user.userID}}</td>
      <td><a class="nav-link text-dark" [routerLink]="['/user', user.userID]">{{user.userName}}</a></td>
      <td>
        <span class="{{stateMap.get(user.userState)}}">{{stateMap.get(user.userState)}}</span>
      </td>
      <td>
        <span class="{{roleMap.get(user.userRole)}}">{{roleMap.get(user.userRole)}}</span>
      </td>
      <td>
        @if (user.userState >= 0) {
          <app-ban-button [user]="user"></app-ban-button>
        }
        @if (user.userState == -2) {
          <app-unban-button [user]="user"></app-unban-button>
        }
        <a [routerLink]="['/user/audit', user.userID]">Audit</a>
      </td>
    </tr>
  }
</table>
