<div>
	<span id="{{post.postID}}"><a [routerLink]="['/user', post.author.userID]">{{post.author.userName}}</a> | <a [routerLink]="'.'" fragment="{{post.postID}}">#{{post.postID}}</a> | {{post.date}}</span>	

	<span *ngIf="_canEdit && !_editMode">
		<button (click)="editPost()">Edit</button>
		<button (click)="deletePost()">Delete</button>
	</span>
</div>


<div *ngIf="_editMode; else readMode">
	<input type="text" [(ngModel)]="editBuffer">
	<button (click)="savePost()">Save</button>
	<button (click)="cancelEdit()">Cancel</button>
</div>

<ng-template #readMode>
	<div>
		<span>{{post.text}}</span>
	</div>
	<div style="outline: auto;" *ngIf="post.edited">
		Edited {{post.dateModified}}
	</div>
</ng-template>

