<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Forum</a>
    </div>

    @if (_auth._loggedIn) {
      <div>
        <h1>Hello, <a [routerLink]="['/user', _auth.user.userID]">{{_auth.user.userName}}</a></h1>
        <button (click)="_auth.Logout()">Logout</button>
        @if (_admin) {
          <div>
            <a [routerLink]="['/userlist']">User List</a>
          </div>
        }
      </div>
    } @else {
      <app-login-box></app-login-box>
    }

  </nav>
</header>
