<header>
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
		<div class="container">
			<a class="navbar-brand" [routerLink]="['/']">Forum</a>
		</div>
		
		<div *ngIf="_auth._loggedIn; else noLogin">
			<h1>Hello, <a [routerLink]="['/user', _auth.user.userID]">{{_auth.user.userName}}</a></h1>
			<button (click)="_auth.Logout()">Logout</button>

			<div *ngIf="_admin">
				<a [routerLink]="['/userlist']">User List</a>
			</div>
		</div>

		<ng-template #noLogin>
			<app-login-box></app-login-box>
		</ng-template>
	</nav>
</header>
